@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body {
  background: rgb(207, 106, 123);
  display: grid;
  place-content: start center;
  padding-top: 40vh;
  gap: 3rem;
  height: 150vh;
  font-family: sans-serif;
}

label {
    font-family: 'Bangers', cursive;
    font-size: 2rem;
    color: #ffc0cb;
    letter-spacing: 2px;
}

/* Opt-in to customizable select */
.monster-select,
.monster-select::picker(select) {
  appearance: base-select;
}

.monster-select {
  border: none;
  background: transparent;
  width: 270px;
  position: relative;
  margin: 0 auto;
  
  &::picker-icon {
    display: none;
  }
}

.monster-select button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  background: pink;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.monster-select:open button {
  border-color: #8A2BE2;
}

.monster-select selectedcontent {
  display: flex;
  align-items: center;
  gap: 10px;
}

.monster-select selectedcontent img,
.monster-select option img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.monster-select selectedcontent h3,
.monster-select option h3 {
  font-weight: bold;
  font-size: 1.1rem;
}

.monster-select selectedcontent p {
  display: none;
}

.monster-select .arrow {
  width: 10px;
  height: 10px;
  margin-right: 0.5rem;
  border-left: 2px solid #333;
  border-bottom: 2px solid #333;
  transform: rotate(-45deg);
  transition: transform 0.3s ease;
}

.monster-select:open .arrow {
  transform: rotate(135deg);
}

/* Styling the popover part */
.monster-select::picker(select) {
  width: 250px;
  margin: 0.5rem 0;
  padding: 10px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  background: white;
}

.monster-select option {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  
  h3,
  p {
    margin: 0;
  }
  
  .text {
    display: grid;
    gap: 0.2rem;
  }
  
  p {
    font-size: 80%;
    color: gray;
  }
  
  &::checkmark {
    display: none;
  }
}

.monster-select option:hover {
  background-color: #f0e6ff;
}